html,
body {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: #132d38;
}

.rangeBarControl .fa-minus {
    position: relative;
    right: 45px;
    top: 14px;
    color: white;
}

.rangeBarControl .fa-plus {
    position: relative;
    left: 190px;
    bottom: 14px;
    color: white;
}

.range-bar {
    position: relative;
    right: 20px;
    height: 10px;
    width: 200px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #e5c75a, #eeb248, #f69b3f, #fc833e, #ff6745);
    margin-right: 22px
}
.range-bar-mark {
    position: relative;
    top: -4px;
    left: 0%;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 0px 7.5px;
    display: none;
}
.select-year {
    position: relative;
    right: 180px;
    bottom: 14px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    padding-left: 5px;
}
.select-year:hover {
    border-radius: 0 0 5px 5px;
}
.key path {
    display: none;
}
.navbar {
    background-color: rgba(20, 102, 120, 0.8) !important;
    color: white;
    opacity: 0.8;
    z-index: 2;
    top: 0;
    /* display: none; */
}

.icon-pesq {
    position: relative;
    top: 10px;
    border-radius: 5px !important;
    background: #ffffff;
    color: #59C9A8;
}
.leaflet-top .leaflet-control-layers.leaflet-control {
    position: relative;
    top: 77.5vh;
    width: 30px;
    height: 30px;
}

.leaflet-control-layers-toggle {
    background-image: url('../content/images/mapas.png') !important;
    width: 30px !important;
    height: 30px !important;
    color: #59C9A8;
}
.icon-slide {
    background-image: url('../content/images/slide-icon.png') !important;

}
.navbar nav a {
    color: white;
}
.leaflet-bar button,
.leaflet-bar button:hover,
.input-leaflet {
    color: #59c9a8;
}
.title-popup {
    color: #3d3d3d;
    font-size: 15px;
    font-weight: bold;
}
.button-popup {
    background-color: #146678;
    -webkit-border-radius: 29px;
    border-radius: 29px;
    color: white;
    border: 0;
    padding: 0 10px;
    margin-bottom: 2px;
}
.modal-header {
    background-color: #e5c75a;
    color: white;
}
.modal-header .close {
    color: white;
}
.modal-header .close:hover {
    color: white;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}
/* Menu */
.leaflet-top.leaflet-right {
    z-index: 1001 !important;
}
.menu--popup {
    background: #fff;
    position: fixed;
    right: 0px;
    top: 80px;
    width: 340px;
    height: calc(100% - 80px);
    padding: 10px 0.5em 0.5em;
    z-index: 99;
}
.tab-content {
    height: calc(100% - 170px);
}
.nav-tabs {
    border-bottom: 1px solid #59c9a8;
}
.nav-tabs .nav-item {
    margin-bottom: 0;
}
.nav-tabs .nav-link {
    margin-bottom: 0;
    color: #4f4f4f;
    background-color: #f0eded;
    border: none;
}
.nav-tabs .nav-link.active {
    background-color: #fff;
    font-weight: bold;
    color: #59c9a8;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
#accordion {
    width: 98%;
}
#accordion .card-body {
    padding: 0rem;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}
#accordionFilter .card-body {
    padding: 0rem;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}
#accordionFilter .card-body .form-check-input {
    margin-left: 0rem;
}
.tab-pane {
    overflow-y: scroll;
    height: 100%;
}
.card {
    border: 0;
}
.card-header {
    padding: 0;
}
h5.mb-0 button.btn.btn-link {
    width: 100%;
    height: 100%;
    padding: 12px 6px;
    text-align: left;
    color: #4f4f4f;
    font-weight: bold;
}
.filtro-selecionado {
    margin-right: 5px;
    padding: 2px 12px;
    background: #59C9A8;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
#limparMapControl {
    margin-right: 5px;
    line-height: 16px;
    margin-top: -10px;
}
.menu {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    width: 100%;
}
.dropdown-menu.show {
    font-family: 'Roboto';
    font-size: 16px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 5px 5px;
    top: 55.5px;
    left: -115px;
    position: absolute;
    width: 240px;

}
.nav-link::after {
    display: none
}
.botao-tam:focus {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.ajustes {
    position: absolute;
    right: 43%;
    bottom: 35%;
    font-family: 'Roboto Condensed'; 
}
.dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
  }
.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}
.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -65px;
    border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -65px;
    border-bottom-color: rgba(0,0,0,.15);
}   
.dropdown-item a {
    text-decoration: none
}
.dropdown-item:hover {
    font-weight: bold;
}
.corpo-modal {
    height: 541px;
    width: 512px;
}
.interio {
    width: 380px;
    height: 490px;
    /* background: blue; */
    position: absolute;
    left: 91px;
    margin-top: 7px;
}
.form-control-label {
    margin-bottom: 0px
}
.botao-cadastrar {
    width: 150px;
    position: absolute;
    left: 105px;
    border-radius: 10px;
    color: white;
    background: #D9B42E;
    top: 400px;
}
    
/* map buttons */

.leaflet-right .leaflet-control:first-child,
.leaflet-left .leaflet-control:first-child {
    margin-top: 80px;
}
.indicadorMapControl div {
    white-space: nowrap;
}
 #menuNav {
    padding: 8px 16px;
    height: 56px;
} 

 #hoverMouse li {
    height: 30px;
    color: #132d38;
    text-align: left;
    background-color: #fff;
    border-radius: 0.15rem;
}
#hoverMouse li a {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}
#hoverMouse li a:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: #eee9e9;
} 

.margem {
    margin-right: -12px;
}
.color {
    background-color: white;
    color: black;
}
#altura {
    width: 500px;
}
.titulo-login {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #146678;
    margin-bottom: 22px;
    margin-top: 15px;
}
.modal-body {
    width: 512px;
    height: 401px;
    background: #F2F2F2;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.caixa {
    width: 380px;
    height: 321px;
    position: absolute;
    top: 8%;
    left: 12.8%;
}
.input-user {
    border-radius: 15px;
    position: relative;
    left: -12px;
    width: 371px;
    height: 32px;
}
.esqueci-senha {
    font-family: 'Roboto';
    position: relative;
    left: 60%;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD !important;
}

.cor {
    font-family: 'Roboto Condensed';
    color: #BDBDBD;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}
.btn-margem {
    width: 120px;
    margin-left: 100px;
    border-radius: 10px;
    background: #BDBDBD;
    border: 1px solid#BDBDBD;
}
.btn-botao {
    color: white;
    width: 120px;
    border-radius: 10px;
}
.btn-botao:hover {
    color: white
}
.fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 27px;
    width: 20px;
    display: none;
}
.formulario {
    font-family: 'Roboto Condensed';
    font-size: 16px
}
#oculto {
    display: none
}
.popup {
    width: 600px;
    position: relative;

}
.form-group {
    margin-bottom: 25px
}
.linkmodal {
    font-weight: bold;
    color: #856404;
}
.linkmodal:hover {
    text-decoration-color: #856404;
    color: inherit;
}
#loading {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 999999;
}
.menuMapControl {
    z-index: 99999;
}
.menuMapControl .nav .nav-item a {
    width: auto;
    height: auto;
    line-height: inherit;
}
.iconFilter {
    margin-right: 5px;
    cursor: pointer;
    padding: 2.5px 10px;
    color: #00697c;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -7px;
}
.filtroMapControl {
    width: 300px;
}
.iconInfoFilter {
    padding: 2px 10px;
    color: #17a2b8;
    background-color: #e5c75a;
    border-radius: 15px;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.filtroMapControl {
    width: 300px;
}
.infoIndicatorSnippet {
    height: 30px;
    overflow: hidden;
}

/* Icones do menu */
.menu-icon {
    margin: 4px 24px;
    clear: both;
    font-weight: 400;
    color: #212529;    
}

.menu-icon a:hover {
    color: black !important;
    text-decoration: none;
    background-color:blue;
    font-weight: bold
}
.robotFamily {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.i-icon {
    margin-right: 5px;
}

#sliderOpacidade {
    -webkit-appearance: none;
    width: 100px;
    margin: 3.5px 0;
    display: inline-block;
    padding-bottom: 3px;
}
#sliderOpacidade:focus {
    outline: none;
}
#sliderOpacidade::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #bdbdbd;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
#sliderOpacidade::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #1e7480;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
#sliderOpacidade:focus::-webkit-slider-runnable-track {
    background: #bdbdbd;
}
#sliderOpacidade::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #bdbdbd;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
#sliderOpacidade::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #1e7480;
    cursor: pointer;
}
#sliderOpacidade::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
#sliderOpacidade::-ms-fill-lower {
    background: #bdbdbd;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
#sliderOpacidade::-ms-fill-upper {
    background: #bdbdbd;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
#sliderOpacidade::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #1e7480;
    cursor: pointer;
    height: 2px;
}
#sliderOpacidade:focus::-ms-fill-lower {
    background: #bdbdbd;
}
#sliderOpacidade:focus::-ms-fill-upper {
    background: #bdbdbd;
}

#footer-sidebar-filtros {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 140px;
    width: 100%;
    background-color: #f5f6f6;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #59c9a8;
}

.custom-control-label::before {
    background-color: #fff;
    border: 1px solid #4f4f4f;
    outline-width: 0;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #59c9a8;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #59c9a8;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #59c9a8;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #59c9a8;
}

.leaflet-container {
    font-family: 'Roboto Condensed';
}

.robotoFamily {
    font-family: 'Roboto' !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2359C9A8'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2359C9A8' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
}
.leaflet-control-layers-expanded:first-child {
    position: absolute !important; 
    top: 640px !important;  
    width: 180px !important;
    height: 150px !important;

}
