<div class="bg-home">
    <div class="logoBackground ">
        <div class="row">
            <div class="col-md-6 offset-3" style="margin-top:40px">
                <div class="layout">
                    <h1 class="home-yellow">Bem vindo!</h1>
                    <br />
                    <div class="text-light">
                        <p>
                            O Mapa das Unidades de Juventude do Brasil, trata-se da geolocalização de todos os estabelecimentos promotores de políticas públicas de juventude do país, independentemente de sua natureza administrativa. Este recurso visa proporcionar, aos gestores públicos, o conhecimento da realidade da rede assistencial existente e suas potencialidades, auxiliando no planejamento da agenda pública em todas as esferas administrativa do Governo.
                        </p>
                        <br />
                        <p >
                            Equipe IBICT / Visão!
                        </p>    
                    </div>

                    <div >
                        <a  class="btn btn-warning" href="../../../map/index.html">Explore o mapa!</a>
                    </div>
                
            </div>
        </div>
    </div>
</div>
