/* ==========================================================================
Main page styles
========================================================================== */

.bg-home {
    background: linear-gradient(0deg, #146678, #1d737f, #59c9a8 127.78%);
}
.layout {
    position: relative;
    bottom: -35%;
    right: -9%;
}
.bg-home h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: normal;
}

.bg-home .text-light {
    width: 760px;
    height: 220px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

.logoBackground {
    background: url('../../content/images/logoBack.png') no-repeat center bottom;
    background-size: contain;
    min-height: 94.2vh;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: cover;
}

.home-yellow {
    color: #eecd56;
}
.btn {
    position: absolute;
    width: 250px;
    height: 70px;
    right: 40%;
    bottom: 23.44%;
    background-color: #d9b42e;
    border-radius: 10px;
}

.btn-warning {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    right: 48%;
    bottom: -55%;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    color: #fff;
    font-weight: bold;
}
.row {
    width: 100% !important
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}
